.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/
.netrc
Package.resolved

/Resources/Example-2/tmp
/Resources/Example-2/logs
/Resources/Example-2/blueprints
